:root {

--blue1: #B3d7ec;
--blue3: #004ba0;
--blue2: #0068d9;
--green: #1D781D;

--white: #ffffff;
--black: #000000;
--grey1: #f9f9f9;
--grey2: #EEEEEE;
--grey3: #DDDDDD;
--grey4: #cccccc;
--grey5: #666666;
--grey6: #444444;
--grey7: #333333;
--grey8: #2b2b2b;
--grey9: #222222;
--grey10: #111111;

--font-size: 62.5%;
--primary-color: var(--blue2);
--primary-hover: var(--blue3);
}

html, body {
  font-family: sans-serif;
  font-size: var(--font-size);
}

.primary-blue {
  background-color: var(--primary-color);
  color: var(--white);
  &:hover {
    background-color: var(--primary-hover);
  }
}
.primary-grey{
  background-color: var(--grey4);
  color: var(--grey7);
  &:hover {
    background-color: var(--grey7);
    color: var(--grey1)
  }
}
.sold-out {
  color: var(--grey5);
  display: inline-flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: .9rem .5rem;
  padding-top: 1.4rem;
  text-decoration: line-through solid var(--grey4);
  transform: translateY(-25%);
  width: 9rem;
  &::before{
    content: "Sold out ";
    font-size: 1.4rem;  
    display: inline-flexbox;
  }
  @media screen and (min-width: 768px){
    margin: 0;
  }
}

.btn { 
  border-radius: .8rem;
  box-shadow: -2.3rem 1rem 1.4rem -.7rem var(--grey2);
  display: inline-block;
  cursor: pointer;
  margin: .9rem;
  padding: .9rem 2rem;
  text-decoration: none;
  text-shadow: 0 .1rem 0 var(--grey7)
}

